/* ********** VARIABLES ********* */

:root{
    --color-primario:#13a8fe;
    --color-primario-oscuro:#0371b0;
    --color-secundario: #ff00ff;
    --color-terciario: #ffa300;
    --color-adicional: #cf0060;
    --color-fondo: #000045;
    --color-blanco: #fff;
    --color-negro: #000;
    --color-gris100: #f4f4f4;
    --color-gris200: #efefef;
    --color-gris300: #767676;
    --color-gris400: #111111;
    --color-verde-neon: #2ef8a0;
    --color-rojo-neon: #f82e86;            
}

@font-face {
    font-family: 'MuseoModerno';
    src: url(fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Codystar';
    src: url(fonts/Codystar/Codystar-Regular.ttf);
}
@font-face {
    font-family: 'cube';
    src: url(fonts/cube/Cube.ttf);
}
@font-face {
    font-family: 'neon';
    src: url(fonts/neon/Neon.ttf);
}
@font-face {
    font-family: 'rampart';
    src: url(fonts/Rampart_One/RampartOne-Regular.ttf);
}

/*! ********** GENERALES ********* */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-gris400);
    height: 48px;
    min-width: 73px;
    border-radius: 40px;
    color: var(--color-blanco);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}


/*! *********Menú principal********* */
nav{
    position: fixed;
    width: 100%;
    height: 80px;
    background: var(--color-blanco);
    display: flex;
    align-items: center;
    padding: 4px 16px;
    z-index: 1;
}

nav .img_logo{
    min-width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}

nav .img_logo img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: all 0.5s;
}

nav .img_logo img:hover{
    box-shadow: 0 0 0 12px rgb(0, 0, 0, 0.07);
}

/*? ******* Input del menú ******* */

.input_container{
    flex: 1 1 auto;
    min-width: 407px;
    height: 48px;
    padding: 0 8px;
    position: relative;
}

nav input{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 3px solid transparent;
    background: var(--color-gris200);
    padding: 0 0 0 38px;
    outline: none;
    transition: all 0.5s;
}

nav input::placeholder{
    font-size: 16px;
}

nav input:focus{
    border: 3px solid var(--color-primario);
    padding: 0 0 0 16px;
}

nav .input_container i{
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 16px;
    color: var(--color-gris300);
    transition: all 0.5s;
}

nav input:focus ~ i{
    width: 0;
    opacity: 0;
} 


/*? ******* Menú iconos ******* */

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 168px;
    font-size: 24px;
    color: var(--color-gris300);
}

nav .icons span,
nav .icons div{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}


nav .icons span:hover,
nav .icons div:hover{
    background: rgb(0, 0, 0, 0.07);
}

nav .icons span:last-child{
    width: 24px;
    height: 24px;
    font-size: 18px;
} 

nav .icons img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}


/* ***Galeria*** */
.row{
    width: 1260px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
}

.column{
    width: 23%;
    margin: 0 10px;
}

.item{
    margin: 0 0 16px 0;
}

.container_img{
    position: relative;
    cursor: zoom-in;
    transition: all 0.3s;
}

.container_img:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    transition: all 0.3s;
}

.container_img img{
    width: 100%;
    border-radius: 16px;
}

/*? ******** hover de post ********* */


.container_img div{
    position: absolute;
    width: 100%;
    display: flex;
    padding: 15px;
    opacity: 0;
    transition: all 0.3s;
}

.container_img:hover div{
    opacity: 1;
}


.container_img .top_row{
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: flex-start;
}

.container_img .top_row a:not(.btn){
    color: var(--color-blanco);
    font-weight: 700;
    width: 40;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

}



.container_img .top_row span{
    color: var(--color-blanco);
    align-self: center;
    padding-right: 5px;
    font-size: 14px;
}

.container_img .top_row .btn{
    background: var(--color-adicional);
    height: 45px;
    min-width: 93px;
}

.container_img .top_row .btn:hover{
    background: var(--color-rojo-neon);
}

.container_img .bottom_row{
    bottom: 0;
    left: 0;
    height: 64px;
    justify-content: space-between;
}

.container_img .bottom_row a{
    background: var(--color-gris100);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-gris400);
    font-weight: 700;
    font-size: 0.9em;
}

.container_img .bottom_row a:nth-child(1){
    width: 62%;
    height: 100%;
    overflow: hidden;
}

.container_img .bottom_row a:nth-child(1) span{
    padding: 0 8px;
    transform: rotate(45deg);
    font-size: 12px;
}

.container_img .bottom_row a:nth-child(2),
.container_img .bottom_row a:nth-child(3){
    width: 32px;
    justify-content: center;
}


/*? ******* Información de post ********** */

.info_img{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.info_img .info{
    display: flex;
    align-items: center;
}

.info_img .info img{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.info_img .info a{
    font-size: 14px;
    color: var(--color-gris400);
    padding: 0 5px;
}

.info_img .info a:hover{
    text-decoration: underline;
}

.reactions{
    display: flex;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
}

.reactions img{
    width: 16px;
    height: 16px;
    margin-right: 1px;
}

.reactions span{
    font-size: 14px;
    margin-left: 5px;
    color: var(--color-gris400);
}